body{
     padding: 20px;
     display: flex;
     flex-flow: column nowrap;
     align-items: center;
     justify-content: center;
}

#mapid {
    height: 80vh;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
}

.legende{
     padding: 10px;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-between;
     width: 80vw;
}
